<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.mapper.MemberMapper">
  <select id="selectOne" resultType="com.gms.web.domain.MemberDTO">
    SELECT USERID, TEAMID, PASSWORD, NAME, SSN, ROLL, AGE, GENDER, SUBJECT FROM MEMBER 
    WHERE USERID LIKE #{userId}
  </select>
  <insert id="add">
  	INSERT INTO MEMBER
	( USERID, TEAMID, PASSWORD, NAME, SSN, ROLL, AGE, GENDER, SUBJECT )
	VALUES
	(#{userId},#{teamId},#{password},#{name},#{ssn},#{roll},#{age},#{gender},#{subject});
  </insert>
  <select id="login" resultType="com.gms.web.domain.MemberDTO">
    SELECT USERID, TEAMID, PASSWORD, NAME, SSN, ROLL, AGE, GENDER, SUBJECT FROM MEMBER 
    WHERE USERID LIKE #{userId}
    	AND PASSWORD LIKE #{password}
  </select>
  <delete id="remove">
  	DELETE FROM MEMBER 
	WHERE USERID LIKE #{userId}
			AND PASSWORD LIKE #{password};
  </delete>
  <update id="modify">
  	UPDATE MEMBER
	SET ROLL = #{roll},PASSWORD = #{password},TEAMID = #{teamId}
	WHERE USERID LIKE #{userId};
  </update>
  
</mapper>